body {
    width: 100%;
    height: 500vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 780px;
    color: rgb(255, 255, 255);
    background-image: url("backgroundBlue.jpg");
    background-size: cover;
    justify-items: center;
    }
section{
    align-self: center;
    justify-self: center;
    width: 900px;
}
h1 {
    font-family: 'Roboto Mono', monospace;
    color: #af63ff;
}
h4{
    color: #ffffff;
}
p {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: justify;
}

.Header {
    background-color: rgb(0, 0, 0);
    grid-row: 1/2;
    grid-column: 1/6;
    position: sticky;
    top: 0%;
    z-index: 99;
    width: 100%;
}

.HeaderButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 160px;
    
    margin: 10px 10px;
    
}
.divLinks{
    place-items: start;
    grid-column: 1/2;

}
.divaLogos{
    grid-column: 3/4;
    align-items: center;
    justify-items: center;
}

a {
    padding-left: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
}

.Main {
    background: none;
    grid-row: 2/7;
    grid-column: 1/6;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;

}
.Proy{
    text-align: center;
}
.photo{
    width: 300px;
    height: 300px;
    background-image: url("foto.png");
    background-size: cover;
}
.Samples {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 580px 580px 580px 580px ;


}

.divSamples{
    height: 580px;
    font-size: 30px;
    display: grid;
    place-items: center;

}

.linklogos{
    display: grid;
    place-content: end;
    margin: 10px 10px;
    padding: 15px;

}

.tecnologies{
    display: grid;
    place-items: center;
    grid-column: 1/2;
    grid-row: 3/4;

}

.tecnoLogos{
    margin: 20px;
    padding: 50px;
    
}

.tecnoLogos:hover{
    transform: scale(2.5);
    cursor: pointer;
    transition: 1s;

}
.biography{
    height: 700px;
    display: grid;
    place-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
}



.divSample {
    width: 500px;
    height: 250px;
    border: 5px solid black;
    border-radius: 10px;
}

.divSample:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: 1s;

}

.steelCalculator {
    background-image: url("steelCalc.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.medicalForm {
    background-image: url("recetaMed.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.subscription {
    background-image: url("Subscription.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.loginForm {
    background-image: url("login.png");
    background-size: cover;
    background-repeat: no-repeat;
}



.Footer {
    width: 100%;
    background: none;
    grid-row: 7/8;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid rgb(255, 255, 255);
}

.div_containerFormsResponsive {
    display: none;
}

.div_containerForms {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 80px;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.div_contactUs {
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 10px;
}

.imagens {
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

.form_container {
    grid-column: 3/4;
    grid-row: 2/4;
    padding: 10px;

}

.inputInfo {
    width: 100%;
    border-radius: 5px;
}

input {
    background: transparent;
    padding: 10px;
}

.textTarea {
    border-radius: 5px;
    width: 100%;
    min-width: 1fr;
    max-width: 1fr;
    min-height: 1fr;
    max-height: 1fr;
    resize: none;
    background: transparent;
    padding: 10px;

}

input::placeholder {
    color: rgb(255, 255, 255);
}

textarea::placeholder {
    color: rgb(255, 255, 255);
}

.btnSend {
    padding: 5px;
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.form_containerBtn {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and(max-width: 600px) {
    body {
        width: 100%;
        height: 500vh;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 780px;
        color: rgb(255, 255, 255);
        background-image: url("backgroundBlue.jpg");
        background-size: cover;
        justify-items: center;
        }
    section{
        align-self: center;
        justify-self: center;
        width: 400px;
    }
    h1 {
        font-family: 'Roboto Mono', monospace;
        color: #af63ff;
    }
    h4{
        color: #ffffff;
    }
    p {
        font-family: 'Chakra Petch', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-align: justify;
    }
    
    .Header {
        background-color: rgb(0, 0, 0);
        grid-row: 1/2;
        grid-column: 1/6;
        position: sticky;
        top: 0%;
        z-index: 99;
        width: 100%;
    }
    
    .HeaderButtons {
        display: grid;
        grid-template-columns: 1fr 160px;
        margin: 10px 10px;
        
    }
    .divLinks{
        place-items: start;
        grid-column: 1/2;
    
    }
    .divaLogos{
        grid-column: 2/3;
        align-items: center;
        justify-items: center;
    }
    
    a {
        padding-left: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: inline-block;
    }
    
    .Main {
        background: none;
        grid-row: 2/7;
        grid-column: 1/6;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
    
    }
    .Proy{
        text-align: center;
    }
    .photo{
        width: 150px;
        height: 150px;
        background-image: url("foto.png");
        background-size: cover;
    }
    .Samples {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35px 290px 290px 290px 290px ;
    
    
    }
    
    .divSamples{
        height: 580px;
        font-size: 30px;
        display: grid;
        place-items: center;
    
    }
    
    .linklogos{
        display: grid;
        place-content: end;
        margin: 10px 10px;
        padding: 15px;
    
    }
    
    .tecnologies{
        display: grid;
        place-items: center;
        grid-column: 1/2;
        grid-row: 3/4;
    
    }
    
    .tecnoLogos{
        margin: 20px;
        padding: 50px;
        
    }
    
    .tecnoLogos:hover{
        transform: scale(2.5);
        cursor: pointer;
        transition: 1s;
    
    }
    .biography{
        height: 700px;
        display: grid;
        place-items: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    
    
    .divSample {
        width: 250px;
        height: 250px;
        border: 5px solid black;
        border-radius: 10px;
    }
    
    .divSample:hover {
        transform: scale(0.9);
        cursor: pointer;
        transition: 1s;
    
    }
    
    .steelCalculator {
        background-image: url("steelCalc.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .medicalForm {
        background-image: url("recetaMed.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .subscription {
        background-image: url("Subscription.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .loginForm {
        background-image: url("login.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    
    .Footer {
        width: 100%;
        background: none;
        grid-row: 7/8;
        grid-column: 1/6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid rgb(255, 255, 255);
    }
    
    .div_containerFormsResponsive {
        display: none;
    }
    
    .div_containerForms {
        display: grid;
        grid-template-columns: 80px 1fr 1fr 80px;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    
    .div_contactUs {
        grid-column: 2/3;
        grid-row: 2/4;
        padding: 10px;
    }
    
    .imagens {
        color: rgb(255, 255, 255);
        padding-top: 10px;
    }
    
    .form_container {
        grid-column: 3/4;
        grid-row: 2/4;
        padding: 10px;
    
    }
    
    .inputInfo {
        width: 100%;
        border-radius: 5px;
    }
    
    input {
        background: transparent;
        padding: 10px;
    }
    
    .textTarea {
        border-radius: 5px;
        width: 100%;
        min-width: 1fr;
        max-width: 1fr;
        min-height: 1fr;
        max-height: 1fr;
        resize: none;
        background: transparent;
        padding: 10px;
    
    }
    
    input::placeholder {
        color: rgb(255, 255, 255);
    }
    
    textarea::placeholder {
        color: rgb(255, 255, 255);
    }
    
    .btnSend {
        padding: 5px;
        font-size: 16px;
        width: 150px;
        border-radius: 5px;
        color: rgb(0, 0, 0);
    }
    
    .form_containerBtn {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    }