body {
    width: 100%;
    height: 520vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 530px;
    color: rgb(255, 255, 255);
    justify-items: center;
}

section {
    align-self: center;
    justify-self: center;
    width: 900px;
}

h1, h4{
    font-family: 'Roboto Mono', monospace;
    color: #af63ff;
}


p {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(124, 146, 255);
    font-size: 30px;
    text-align: left;
}

.Header {
    background-color: rgb(0, 0, 0);
    grid-row: 1/2;
    grid-column: 1/6;
    position: sticky;
    top: 0%;
    z-index: 99;
    width: 100%;
}

.HeaderButtons {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 160px;
    place-content: center;

}

.divLinks {
    place-items: start;
    grid-column: 1/2;

}

.divaLogos {
    grid-column: 3/4;
    align-items: center;
    justify-items: center;
}

a {
    padding-left: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
}

.Main {
    width: 100%;
    background: none;
    grid-row: 2/7;
    grid-column: 1/6;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    background-image: url("backgroundBlue.jpg");
    background-size:contain ;
    

}

.Proy {
    text-align: center;
}

.photo {
    width: 300px;
    height: 300px;
    background-image: url("foto.png");
    background-size: cover;
}

.Samples {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 650px 650px 650px 650px;
}

.divSamples {
    height: 550px;
    font-size: 30px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 450px;
    place-items: center;
    padding: 21px;
    border-top: 10px solid rgb(234, 234, 234);

}

.css{
    color: #2549E6;

}
.js{
    color: #F5DD1B;

}

.linklogos {
    display: grid;
    place-content: end;
    margin: 10px 10px;
    padding: 15px;

}

.tecnologies {
    display: grid;
    place-items: center;
    grid-column: 1/2;
    grid-row: 3/4;

}

.tecnoLogos {
    margin: 20px;
    padding: 50px;

}

.tecnoLogos:hover {
    transform: scale(2.2);
    cursor: pointer;
    transition: 1s;

}

.biography {
    height: 700px;
    display: grid;
    place-items: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

.divSample {
    width: 600px;
    height: 250px;
    border: 5px solid black;
    border-radius: 10px;

}

.divSample:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: 1s;

}

.steelCalculator {
    background-image: url("steelCalc.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.medicalForm {
    background-image: url("recetaMed.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.subscription {
    background-image: url("Subscription.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.loginForm {
    background-image: url("login.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.QrGenerator {
    background-image: url("qrGenerator.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.Footer {
    width: 100%;
    background: none;
    grid-row: 7/8;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(4,68,193,1) 41%, rgba(0,212,255,1) 95%);
}

.div_containerFormsResponsive {
    display: none;
}

.div_containerForms {
    display: grid;
    grid-template-columns: 80px 500px 1fr 80px;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.div_contactUs {
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 10px;
    width: 100%;
}

.imagens {
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

.form_container {
    grid-column: 3/4;
    grid-row: 2/4;
    padding: 10px;
    height: 306.9PX;
    width: 100%;

}

.inputInfo {
    width: 97%;
    border-radius: 5px;
}

input {
    background: transparent;
    padding: 10px;
    color: #ffffff;
}

.textTarea {
    border-radius: 5px;
    width: 97%;
    height: 50%;
    min-width: 1fr;
    max-width: 1fr;
    min-height: 1fr;
    max-height: 1fr;
    resize: none;
    background: transparent;
    padding: 10px;
    color: #ffffff;

}

input::placeholder {
    color: rgb(255, 255, 255);
}

textarea::placeholder {
    color: rgb(255, 255, 255);
}

.btnSend {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    width: 120px;

    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btnSend:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btnSend:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.form_containerBtn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tel {
    color: rgb(21, 0, 255);
}

.correo {
    color: rgb(237, 214, 36);
}

.gps {
    color: #ff0000;
}


@media only screen and (  max-width: 950px) and (min-width:500px) {
    body {
        width: 100%;
        height: 550vh;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 590px;
        color: rgb(255, 255, 255);
        justify-items: center;
        font-size: 13px;
    }

    section {
        align-self: center;
        justify-self: center;
        width: 400px;
    }

    h1, h4{
        font-family: 'Roboto Mono', monospace;
        color: #af63ff;
        text-align: center;
    }

    p {
        font-family: 'Chakra Petch', sans-serif;
        color: rgb(124, 146, 255);
        font-size: 20px;
        text-align: left;
    }

    .Header {
        background-color: rgb(0, 0, 0);
        grid-row: 1/2;
        grid-column: 1/6;
        position: sticky;
        top: 0%;
        z-index: 99;
        width: 100%;
    }

    .HeaderButtons {
        display: grid;
        grid-template-columns: 1fr 120px;
        place-content: center;
    }

    .divLinks {
        place-items: start;
        grid-column: 1/2;

    }

    .divaLogos {
        grid-column: 2/3;
        align-items: center;
        justify-items: center;
    }

    a {
        padding-left: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: inline-block;
    }

    .Main {
        background: none;
        grid-row: 2/7;
        grid-column: 1/6;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        background-image: url("backgroundBlue.jpg");
        background-size:contain ;
    }

    .tel {
        color: rgb(21, 0, 255);
    }

    .correo {
        color: rgb(237, 214, 36);
    }

    .gps {
        color: #ff0000;
    }

    .Proy {
        text-align: center;
    }

    .photo {
        width: 150px;
        height: 150px;
        background-image: url("foto.png");
        background-size: cover;
    }

    .Samples {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 750px 750px 750px 750px;


    }

    .divSamples {
        height: 600px;
        font-size: 30px;
        display: grid;
        grid-template-columns: 354px;
        grid-template-rows: 1fr 180px;
        place-items: center;

    }

    .linklogos {
        display: grid;
        place-content: end;
        margin: 10px 10px;
        padding: 15px;

    }

    .tecnologies {
        display: grid;
        place-items: center;
        grid-column: 1/2;
        grid-row: 3/4;

    }

    .tecnoLogos {
        margin: 20px;
        padding: 25px;

    }

    .tecnoLogos:hover {
        transform: scale(2.2);
        cursor: pointer;
        transition: 1s;

    }

    .biography {
        height: 700px;
        display: grid;
        place-items: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .divSample {
        width: 350px;
        height: 170px;
        border: 5px solid black;
        border-radius: 10px;
    }

    .divSample:hover {
        transform: scale(0.9);
        cursor: pointer;
        transition: 1s;

    }

    .steelCalculator {
        background-image: url("steelCalc.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .medicalForm {
        background-image: url("recetaMed.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .subscription {
        background-image: url("Subscription.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .loginForm {
        background-image: url("login.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .QrGenerator {
        background-image: url("qrGenerator.png");
        background-size: cover;
        background-repeat: no-repeat;

    }

    .Footer {
        width: 100%;
        background: none;
        grid-row: 7/8;
        grid-column: 1/6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(4,68,193,1) 41%, rgba(0,212,255,1) 95%);
    }

    .div_containerFormsResponsive {
        display: none;
    }

    .div_containerForms {
        display: grid;
        grid-template-columns: 40px 1fr 1fr 40px;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    .imagens {
        color: rgb(255, 255, 255);
        padding-top: 10px;
    }

        .div_contactUs {
        grid-column: 2/3;
        grid-row: 2/4;
        padding: 10px;
    }

    .form_container {
        grid-column: 3/4;
        grid-row: 2/4;
        padding: 10px;
        width: 80%;

    }

    .inputInfo {
        width: 100%;
        border-radius: 5px;
    }

    input {
        background: transparent;
        padding: 10px;
        color: #ffffff;

    }

    .textTarea {
        border-radius: 5px;
        width: 100%;
        min-width: 1fr;
        max-width: 1fr;
        min-height: 1fr;
        max-height: 1fr;
        resize: none;
        background: transparent;
        padding: 10px;
        color: #ffffff;
    }

    input::placeholder {
        color: rgb(255, 255, 255);
    }

    textarea::placeholder {
        color: rgb(255, 255, 255);
    }

    .btnSend {
        grid-column: 3/4;
        grid-row: 2/4;

        border: 0;
        line-height: 2.5;
        width: 120px;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(220, 0, 0, 1);
        background-image: linear-gradient(to top left,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0));
        box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }
    
    .btnSend:hover {
        background-color: rgba(255, 0, 0, 1);
    }
    
    .btnSend:active {
        box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }

    .form_containerBtn {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 106%;
    }

    .tel {
        color: rgb(21, 0, 255);
    }
    
    .correo {
        color: rgb(237, 214, 36);
    }
    
    .gps {
        color: #ff0000;
    }
    
}


@media only screen and (max-width: 500px) {
    body {
        height: 550vh;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 35px 1fr 1fr 1fr 1fr 1fr 480px;
        color: rgb(255, 255, 255);
        place-content: center;
        font-size: 11px;
    }

    section {
        align-self: center;
        justify-self: center;
        width: 270px;
    }

    h1, h4{
        font-family: 'Roboto Mono', monospace;
        color: #af63ff;
        margin: 2px 0 2px 0;
        text-align: center;
    }

    p {
        font-family: 'Chakra Petch', sans-serif;
        color: rgb(124, 146, 255);
        font-size: 15px;
        text-align: left;

    }

    .Header {
        background-color: rgb(0, 0, 0);
        grid-row: 1/2;
        grid-column: 1/6;
        position: sticky;
        top: 0%;
        z-index: 2000;
        width: 100%;
    }

    .HeaderButtons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 100px;
        margin: 0;
    }

    .divLinks {
        place-items: start;
        grid-column: 1/2;

    }

    .divaLogos {
        grid-column: 2/3;
        align-items: center;
        justify-items: center;
    }

    a {
        padding-left: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: inline-block;
    }

    .Main {
        background: none;
        grid-row: 2/7;
        grid-column: 1/6;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        background-image: url("backgroundBlue.jpg");
        background-size: contain;
    }

    .tel {
        color: rgb(21, 0, 255);
    }

    .correo {
        color: rgb(237, 214, 36);
    }

    .gps {
        color: #ff0000;
    }

    .Proy {
        text-align: center;
    }

    .photo {
        width: 150px;
        height: 150px;
        background-image: url("foto.png");
        background-size: cover;
    }

    .Samples {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 550px 550px 550px 550px;
    }

    .divSamples {
        height: 400px;
        display: grid;
        grid-template-columns: 220px;
        grid-template-rows: 1fr 180px;
        place-items: center;

    }

    .linklogos {
        display: grid;
        place-content: end;
        margin: 10px 10px;
        padding: 15px;

    }

    .tecnologies {
        display: grid;
        place-items: center;
        grid-column: 1/2;
        grid-row: 3/4;

    }

    .tecnoLogos {
        margin: 10px;
        padding: 15px;

    }

    .tecnoLogos:hover {
        transform: scale(1.4);
        cursor: pointer;
        transition: 1s;

    }

    .biography {
        height: 700px;
        display: grid;
        place-items: center;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .divSample {
        width: 205px;
        height: 90px;
    }

    .divSample:hover {
        transform: scale(0.9);
        cursor: pointer;
        transition: 1s;

    }

    .steelCalculator {
        background-image: url("steelCalc.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .medicalForm {
        background-image: url("recetaMed.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .subscription {
        background-image: url("Subscription.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .loginForm {
        background-image: url("login.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .QrGenerator {
        background-image: url("qrGenerator.png");
        background-size: cover;
        background-repeat: no-repeat;

    }


    .Footer {
        width: 100%;
        background: none;
        grid-row: 7/8;
        grid-column: 1/6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 5px solid rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(4,68,193,1) 41%, rgba(0,212,255,1) 95%);

    }

    .div_containerFormsResponsive {
        display: none;
    }

    .div_containerForms {
        display: grid;
        grid-template-columns: 40px 1fr 1fr 40px;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }


    .imagens {
        color: rgb(255, 255, 255);
        padding-top: 10px;
    }

    .div_contactUs {
        grid-column: 2/3;
        grid-row: 2/4;
        padding: 10px;
    }

    .form_container {
        grid-column: 3/4;
        grid-row: 2/4;
        padding: 10px;
        width: 120px;

    }

    .form_containerBtn {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 142px;
    }
    .inputInfo {
        width: 100%;
        border-radius: 5px;
    }

    input {
        background: transparent;
        padding: 10px;
        color: #ffffff;

    }

    .textTarea {
        border-radius: 5px;
        width: 100%;
        min-width: 1fr;
        max-width: 1fr;
        min-height: 1fr;
        max-height: 1fr;
        resize: none;
        background: transparent;
        padding: 10px;
        color: #ffffff;
    }

    input::placeholder {
        color: rgb(255, 255, 255);
    }

    textarea::placeholder {
        color: rgb(255, 255, 255);
    }

    .btnSend {
        grid-column: 3/4;
        grid-row: 2/4;
        border: 0;
        line-height: 2.5;
        width: 80px;
        padding: 0 20px;
        font-size: .8rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(220, 0, 0, 1);
        background-image: linear-gradient(to top left,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0));
        box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    }
    
    .btnSend:hover {
        background-color: rgba(255, 0, 0, 1);
    }
    
    .btnSend:active {
        box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }
    .tel {
        color: rgb(21, 0, 255);
    }
    
    .correo {
        color: rgb(237, 214, 36);
    }
    
    .gps {
        color: #ff0000;
    }
    
}