body{

    background: url(golf_hexagons.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.info{
    border: 10px rgb(0, 0, 0) solid;
    border-radius: 15px;
    display: block;
    height: 150px;
    width: 600px;
    padding: 10px;
    background: linear-gradient(70deg, rgba(212, 175, 55),rgb(250, 223, 134));

}

.div-container{
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    

}

H1{
    color: rgb(15, 13, 10);
    text-align:center;  
    margin-top: 18px;
    margin-bottom: 18px;
}
.Subtitle{
    color: rgb(15, 13, 10);
    text-align:center;  
    margin-top: 0;
    margin-bottom: 9px;

}
h6{
    margin: 0;
}
br{
    height: 15px;
}
.divs_position{
    display: inline-block;
}


.div-container-flex{
    border: none;
    height: 100%;
    width: 100%;


}
.imageRoundBar{
    background: url(coldrolled.jpg) no-repeat;
}
.imagePlate{
    background: url(lamina.jpg) no-repeat;
}
.imagePTR{
    background: url(ptr.jpg) no-repeat;
}
.img{
    height: 180px;
    width: 180px;
    border: 10px solid rgb(255, 124, 16);
    display: inline-block;
    background-size:cover; 
    padding: 5px;

}
.img:focus {
    border-color: rgb(247, 178, 76);
    box-shadow: rgb(177, 87, 14);;
}
.img:hover {
    border-color: rgb(247, 178, 76);
    box-shadow: rgb(177, 87, 14);;
}

.input_PTR{
    width: 135px;
}

.input_Plate{
    width: 135px;
}
.input_roundBar{
    width: 185px;

}
.inputContainer{
    display: grid;
    place-content: center;
}
.inputSubmitCalculate{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    background: linear-gradient(70deg, rgb(240, 164, 42),rgb(235, 151, 98));
    justify-content: center;    
}

.selectElection{
    width: 200px;
}

.spanTotal{
    display: inline-block;
    
}

@media screen and (max-width: 600px ) {
    body{

        background: url(golf_hexagons.jpg) no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .info{
        border: 10px rgb(0, 0, 0) solid;
        border-radius: 15px;
        display: block;
        height: 350px;
        width: 150px;
        padding: 10px;
        background: linear-gradient(70deg, rgba(212, 175, 55),rgb(250, 223, 134));
    
    }
    
    .div-container{
        display: grid;
        place-content: center;
        
        height: 100%;
        width: 100%;
        
    
    }
    
    H1{
        color: rgb(15, 13, 10);
        text-align:center;  
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .Subtitle{
        color: rgb(15, 13, 10);
        text-align:center;  
        margin-top: 0;
        margin-bottom: 9px;
    
    }
    h6{
        margin: 0;
    }
    br{
        height: 15px;
    }
    .divs_position{
        display: inline-block;
    }
    
    
    .div-container-flex{
        display: grid;
        place-items: center;
        border: none;
        height: 100%;
        width: 100%;
    
    
    }
    .imageRoundBar{
        background: url(coldrolled.jpg) no-repeat;
    }
    .imagePlate{
        background: url(lamina.jpg) no-repeat;
    }
    .imagePTR{
        background: url(ptr.jpg) no-repeat;
    }
    .img{
        height: 105px;
        width: 105px;
        border: 10px solid rgb(255, 124, 16);
        display: block;
        background-size:cover; 
        padding: 5px;
    
    }
    .img:focus {
        border-color: rgb(247, 178, 76);
        box-shadow: rgb(177, 87, 14);;
    }
    .img:hover {
        border-color: rgb(247, 178, 76);
        box-shadow: rgb(177, 87, 14);;
    }
    
    .input_PTR{
        width: 135px;
    }
    
    .input_Plate{
        width: 135px;
    }
    .input_roundBar{
        width: 135px;
    
    }
    .inputContainer{
        display: grid;
        place-content: center;
    }
    .inputSubmitCalculate{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 200px;
        background: linear-gradient(70deg, rgb(240, 164, 42),rgb(235, 151, 98));
        justify-content: center;    
    }
    
    .selectElection{
        width: 200px;
    }
    
    .spanTotal{
        display: inline-block;
        
    }
}